body
{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 48px;
    color:#fff;
    user-select: none;
}

.title
{
    font-family: 'Griffy', cursive;
    font-size: 500%;
}

.loading
{
    background-color: #000;
    position: absolute;
    width: 1920px;
    height: 1080px;
    top:0;
    left:0;
    z-index: 10000;
}

.loading .title
{
    position: absolute;
    top: 440px;
    left: 700px;
}

.loading .splash
{
    position: absolute;
    top: 200px;
    left: 700px;
}

.splash
{
    font-family: 'Griffy', cursive;
    font-size: 500%;
}

.game
{
    position: absolute;
    width: 1920px;
    height: 1080px;
    top:0;
    left:0;
}

.layer
{
    position: absolute;
    width: 1920px;
    height: 1080px;
    top:0;
    left:0;
    z-index: 100;
}

.scene
{
    z-index: 100;
}

.char
{
    z-index: 150;
}

.char2
{
    z-index: 151;
}

.options
{
    background-color:rgb(0,0,0,0.7);
    position: absolute;
    width: 1720px;
    height: 250px;
    bottom:50px;
    left:50px;
    padding:50px;
    border: 0px solid transparent;
    border-radius: 45px;
    backdrop-filter: blur(16px);

    z-index: 1000;
}

.options button
{
    color: #fff;
    font-family: 'Architects Daughter', cursive;
    font-size: 48px;
    display: block;
    width: 100%;
}

.layer {
    opacity: 1;
    transition: opacity 0.7s linear;
  }

.hidden {
    opacity: 0;
}

.hiddenOption {
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.hiddenLoading
{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

button {
    background-color: transparent;
    border: none;
    outline:none;
}

.emojiFlying
{
    position: absolute;
    visibility: visible;
    opacity: 0;
    animation-name: emojiFlyingKeyframes;
    animation-duration: 2s;
    z-index:999;
}

@keyframes emojiFlyingKeyframes {
    from {  transform: translateY(0px);opacity: 0;    }
    20% {opacity:1}
    60% {opacity:1}
    100%   {  transform: translateY(-150px); opacity: 0; }
}